/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**GENERAL*/

.navbar{
  border-bottom-width: 0px ;
  }
.active{
color: rgb(5, 139, 140) !important;
}
.activo:hover{
  color: rgb(0, 77, 77) !important;
}
.f-abel{
  font-family: 'Jomolhari', serif !important;

}
.f-roboto{
  font-family: 'Roboto', sans-serif !important;

}
.f-jomalhari{
  font-family: 'Jomolhari', serif !important;
}
.card-saison p{
  text-decoration: none !important;
}

.card-i{
  border: 0px !important;
}

/**NAVBAR*/
.navbar{
  border-bottom-style:  solid;

  border-color: rgb(212, 212, 212);
}
.nav-item{
  font-size: 1.3rem;
  letter-spacing: 4.5px;
  color: rgba(0, 0, 0, 0.623) !important;

}
.display-block{
  display: block;
}
li {
  margin-bottom: 10px;
}

.cool-link {
  display: inline-block;
  color: #000 !important;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width .3s;
}
.separador{
  width: 200px;   border-width: 3px !important; color: rgb(5, 139, 140); border-color: rgb(5, 139, 140);
}
.separador-pequeño{
  width: 200px;   border-width: 2px !important; color: rgb(117, 117, 117); border-color: rgba(117, 117, 117, 0.267)

}

.cool-link:hover::after {
  width: 100%;
}
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgb(5, 139, 140);
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .3s all ease;
	-moz-transition: .3s all ease;
	transition: .3s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
ul{
  list-style: none;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


/**HERO IMAGE*/


body, html {
  height: 100% !important;
    scroll-behavior: smooth !important;

}

/* The hero image */
.hero-image {
margin-top: 30px;
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 65, 65, 0.158)), url("../img/hero.jpg");

/* Set a specific height */
height: 100% !important;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {

text-align: left;
position: absolute;
top: 50%;
left: 40%;
transform: translate(-50%, -50%);
color: white;
}
/* GENERAL BUTTON STYLING */


.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  width: 190px;
  height: 70px;
}
.btn-two:hover{
  color: rgb(5, 139, 140);

}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
transform: rotate(-45deg);
background-color: rgba(206, 0, 0, 0);
}
.btn-two:hover::after {
transform: rotate(45deg);
background-color: rgba(255,255,255,0);
}

.text-color-primary{
  color: rgb(5, 139, 140) !important;
}

.bg-color-primary{
  background-color: rgb(5, 139, 140) !important; /* Black*/

}

/**index*/

.lema{
  color: #2c2c2d;
}
.lema span{
  color: #2c2c2d9d;
}


.nuevos-chocolates .descripcion{
  color: #6b6b6b80;
  letter-spacing: 3px;
  font-size: 1rem;


}
.card-text{
  color: #6b6b6b80 !important;
}
.card-title{
  color: #000000d5 !important;

}
.clases{
  background-color: #2c2c2d0a;
}
.clases h3{
  text-align: center !important;
}

.img-about{

/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.63)), url("../img/sobre-nosotros.jpg");

height: 400px;
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
background-attachment: fixed;

  }

 .cape{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../img/evento.jpg");

  height: 200px !important;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

 }

.img-about  {
  color: #ffff;
}
.imagen-producto{
  height: 30px !important;
}

.titulo-categoria{
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 1.8rem;
  color: #0000008a;

}
.img-cat{
height: 300px;
width: 250px;
display: inline-block;

background-position: center;
background-repeat: no-repeat;
position: relative;
margin-left: 2px;
margin: 0;
}
.categoria-glass{
background: linear-gradient(to right, #0000007a, #000c7942), url("../img/Glass.jpg");
background-size: cover;
}

.categoria-chocolate{
background: linear-gradient(to right, #0000007a, #000c7942), url("../img/chocolate.jpg");
background-size: cover;
}

.categoria-patisserie{
background: linear-gradient(to right, #0000007a, #000c7942), url("../img/patisserie.jpg");
background-size: cover;
}

.categoria-tablettes{
background: linear-gradient(to right, #0000007a, #000c7942), url("../img/tablettes.jpg");
background-size: cover;
}

.img-cat:hover{
opacity: 0.8;

}
.text-cat{
float: none;
position: absolute;
font-size: 1.8rem;
top: 50%;
left: 50%;
color: #ffff;
transform: translate(-50%, -50%);
font-family: 'Open Sans', sans-serif;

}
.contenedor-description {
  background : #ffffff;
  color : #000000;
  padding : 4px;
  height : 100px;
  overflow : auto;
}

.gallery-image {
	display: block;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}
.gallery figure{
    /* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

/**CATALOGUE*/

/**Catalogo responsivo*/

/* The sidepanel menu */
.sidepanel {

  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5000 ; /* Stay on top */
  top: 0%;
  left: 0;
  background-color: rgb(5, 139, 140); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn{
  display: none;
}



.slider-categorias{
float:left
}
@media only screen and (max-width: 600px) {
  .slider-categorias{
    display: none;

  }

  .openbtn{
    display: inline;
  }
}
.slider-categorias a{
  color: rgb(5, 139, 140);
}
.contenido-productos{
  float:right;
}
.producto-imagen{
  display: block;
	object-fit: cover !important;
  transition: transform 400ms ease-out;
  height: 200px;


}
.producto-imagen:hover {
	transform: scale(1.05);
}

.vinc-produit:hover
{
  text-decoration: none !important;
}